.fullscreen {
    height: 100vh !important;
}

.alert {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 5em 1rem;
}

#duDaysInput,
#pingDaysInput {
    width: 75px;
}

.widget-card span.icon {
    font-size: 2em;
}

.widget-card .text-success {
    color: #07db71 !important;
}

.widget-card .text-warning {
    color: #fca503 !important;
}

.widget-card .text-primary {
    color: #3e95cd !important;
}

.form-control {
    background-color: #303030 !important;
    color: #fff;
}

.form-control:focus {
    color: #fff;
}

.Toastify__toast--info {
    background: #1f5a81 !important;
}

.Toastify__toast--success {
    background: #28922b !important;
}

.mouse {
    cursor: pointer;
}

.setting-card {
    height: 270px;
}

.home-graph {
    height: 480px;
}

.form-control:disabled {
    cursor: not-allowed;
}
